*{

}

.d-flex
{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.ai-center
{
	align-items: center;
}

.col-12
{
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}