*
{
	box-sizing: border-box;
}

body{
	background:#fbfafa;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: #e6e6e6;
    border-radius: 5px;
}
::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 5px;
}

.filter-title {
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    line-height: normal;
}